.root {
  flex-grow: 1;

  &__names,
  &__row {
    display: flex;
    justify-content: space-around;
    margin: 0 0 10px 0;
  }

  &__name,
  &__item {
    margin: 0 10px;
    width: 100px;
    text-align: center;
    font-weight: 500;
  }
}
